<div class="pod-inner-section">
    <span class="stats-section">
      <span class="title-section">
        <strong>STATS</strong>
        <span>
          <label for="lum"><small><strong>LUMI</strong></small></label>
          <input placeholder="0" type="number" name="lum">
        </span>
      </span>
      <span class="stat">
        <input placeholder="5" type="number" name="move">
        <span class="temporary">
            <input class="temp" placeholder="0" type="number" name="tempMov">
            <label for="tempMov"><small>TEMPORARY</small></label>
        </span>
        <label for="move"><small><strong>MOVEMENT</strong></small></label>
      </span>
      <span class="stat">
        <input placeholder="0" type="number" name="acc">
        <span class="temporary">
            <input class="temp" placeholder="0" type="number" name="tempAcc">
            <label for="tempAcc"><small>TEMPORARY</small></label>
        </span>
        <label for="acc"><small><strong>ACCURACY</strong></small></label>
      </span>
      <span class="stat">
        <input placeholder="0" type="number" name="str">
        <span class="temporary">
            <input class="temp" placeholder="0" type="number" name="tempStr">
            <label for="tempStr"><small>TEMPORARY</small></label>
        </span>
        <label for="str"><small><strong>STRENGTH</strong></small></label>
      </span>
      <span class="stat">
        <input placeholder="0" type="number" name="eva">
        <span class="temporary">
            <input class="temp" placeholder="0" type="number" name="tempEva">
            <label for="tempEva"><small>TEMPORARY</small></label>
        </span>
        <label for="eva"><small><strong>EVASION</strong></small></label>
      </span>
      <span class="stat">
        <input placeholder="0" type="number" name="luc">
        <span class="temporary">
            <input class="temp" placeholder="0" type="number" name="tempLuc">
            <label for="tempLuc"><small>TEMPORARY</small></label>
        </span>
        <label for="luc"><small><strong>LUCK</strong></small></label>
      </span>
      <span class="stat">
        <input placeholder="0" type="number" name="spd">
        <span class="temporary">
            <input class="temp" placeholder="0" type="number" name="tempSpd">
            <label for="tempSpd"><small>TEMPORARY</small></label>
        </span>
        <label for="spd"><small><strong>SPEED</strong></small></label>
      </span>
    </span>
  </div>