<div class="pod-inner-section">
    <span class="title-section">
        <strong>ARMOR & INJURIES</strong>
    </span>
    <span class="armor-layout">
        <span class="insane-layout">
            <span class="flex-column">
                <span class="subtitle-section">
                    <strong>BRAIN</strong>
                    <span class="checkbox-label-layout">
                        <input type="checkbox" name="lightBrain">
                        <label for="lightBrain">L</label>
                    </span>
                </span>
                <input placeholder="0" type="number" name="ins">
                <label for="ins"><small>INSTANITY</small></label>
                <small>IF 3+, YOU ARE <strong>INSANE</strong></small>
            </span>
            <span class="flex-column">
                <strong>TORMENT</strong>
                <input placeholder="0" type="number" name="tor">
                <label for="tor"><small>WHEN ROLLING FOR BRAIN TRAUMA, SUBTRACT <strong>TORMENT</strong> FROM RESULT</small></label>
            </span>
        </span>
        <span class="corpus-layout">
            <span class="subtitle-section">
                <strong>HEAD</strong>
                <span>
                    <input class="heavy" type="checkbox" name="heavyHead">
                    <label for="heavyHead">H</label>
                </span>
            </span>
            <input class="armor" placeholder="0" type="number" name="head">
            <span class="injury-layout flex-column">
                <span class="injury-descrip-layout">
                    <input type="checkbox" name="iHem">
                    <label for="iHem"><small><strong>INTRACRANIAL HEMORRHAGE</strong></small></label>
                    <small>no gain or spend survival.</small>
                </span>
                <span class="injury-descrip-layout">
                    <input type="checkbox" name="deaf">
                    <label for="deaf"><small><strong>DEAF</strong></small></label>
                    <small>-1 evasion.</small>
                </span>
                <span class="injury-descrip-layout blind">
                    <input class="blind1" type="checkbox" name="blind1">
                    <input class="blind2" type="checkbox" name="blind2">
                    <label for="blind2"><small><strong>BLIND</strong></small></label>
                    <small>-1 accuracy / -4 accuracy & retire.</small>
                </span>
                <span class="injury-descrip-layout">
                    <input type="checkbox" name="sJaw">
                    <label for="sJaw"><small><strong>SHATTERED JAW</strong></small></label>
                    <small>no consume & encourage.</small>
                </span>
            </span>
        </span>
    </span>
</div>
