@import '../../assets/vars.scss';

.insane-layout {
    border-bottom: 1px solid black;
    margin-bottom: $gap;
    .flex-column > strong, .subtitle-section {
        font-size: .9rem;
    }
}

.corpus-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    column-gap: $gap;
    &:not(:last-of-type) {
        border-bottom: 1px solid black;
        padding-bottom: $gap;
        margin-bottom: $gap;
    }
    grid-template-areas:
        "subtitle   injuries"
        "armor      injuries";
    .subtitle-section {
        grid-area: subtitle;
    }
    .armor {
        grid-area: armor;
    }
    .injury-layout {
        grid-area: injuries;
        display: grid;
        grid-gap: $gap;
        .injury-checkbox-layout {
            &:not(:last-of-type) {
                padding-bottom: $smaller-gap;
                border-bottom: 1px solid gray;
            }
            display: grid;
            grid-gap: $smaller-gap;
            grid-template-columns: auto 1fr;
            grid-template-rows: repeat(2, auto);
            align-items: center;
            grid-template-areas:
                "check      label"
                "descrip    descrip";
            .flex-row {
                grid-area: check;
            }
            .injury-name {
                grid-area: label;
            }
            .injury-descrip {
                grid-area: descrip;
            }
        }
    }
}

.subtitle-section {
    display: grid;
    grid-template-columns: 1fr auto;
}

.flex-column {
    align-items: center;
    .checkbox-label-layout {
        grid-gap: $smaller-gap;
    }
    .subtitle-section, .checkbox-label-layout {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        &.multiInjury {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            row-gap: 0rem;
            strong {
                grid-column: 1 / span 2;
                grid-row: 1;
                place-self: center;
            }
        }
    }
    .subtitle-section {
        grid-gap: $gap;
    }
    label {
        text-align: center;
    }
}

input:not([type="checkbox"]) {
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    text-align: center;
    border-radius: $input-radius;
}