<div class="pod-inner-section">
    <span class="title-section">
        <strong (click)="toggleCollapse()">ARMOR & INJURIES</strong>
    </span>
    <span *ngIf="show" class="armor-layout">
        <span class="insane-layout three-column-grid">
            <span class="flex-column">
                <span class="subtitle-section">
                    <strong>BRAIN</strong>
                    <span class="checkbox-label-layout">
                        <div 
                        (click)="lBrain = !lBrain"
                        [ngClass]="{'filled': lBrain}"
                        name="lightBrain"
                        class="black-square border-only"></div>
                        <label for="lightBrain">L</label>
                    </span>
                </span>
                <input placeholder="0" type="number" name="ins">
                <label for="ins"><small>INSTANITY</small></label>
                <small class="center-text">IF 3+, YOU ARE <strong>INSANE</strong></small>
            </span>
            <span class="flex-column">
                <strong>TORMENT</strong>
                <input placeholder="0" type="number" name="tor">
                <label for="tor"><small>SUBTRACT FROM BRAIN TRAUMA RESULTS</small></label>
            </span>

            <span class="flex-column">
                <strong>S. PRESSURE</strong>
                <input type="number" placeholder="0" name="spre">
                <label for="spre"><small>SUBTRACT FROM SEVERE INJURY RESULTS</small></label>
            </span>
        </span>
        <span class="corpus-layout head">
            <span class="subtitle-section">
                <strong>HEAD</strong>
                <span class="flex-row">
                    <div 
                        (click)="hHead = !hHead"
                        [ngClass]="{'filled': hHead}"
                        name="heavyHead"
                        class="black-square border-only heavy">
                    </div>
                    <label for="heavyHead">H</label>
                </span>
            </span>
            <input class="armor" placeholder="0" type="number" name="head">
            <span class="injury-layout">
                <span *ngFor="let injury of headInjuries" class="injury-checkbox-layout">
                    <span class="flex-row">
                        <div
                            *ngFor="let box of injury.checkboxes" 
                            (click)="box.checked= !box.checked"
                            [ngClass]="{'filled': box.checked}"
                            class="black-square border-only">
                        </div>
                    </span>
                    <small class="injury-name"><strong>{{injury.id}}</strong></small>
                    <small class="injury-descrip">{{injury.descrip}}</small>
                </span>
            </span>
        </span>

        <span class="corpus-layout arm">
            <span class="subtitle-section">
                <strong>ARMS</strong>
                <span class="flex-row">
                    <span class="flex-row" *ngFor="let loc of arms">
                        <div 
                            (click)="loc.checked = !loc.checked"
                            [ngClass]="{
                                'filled': loc.checked,
                                'heavy': loc.id === 'heavy'
                            }"
                            class="black-square border-only">
                        </div>
                        <label>{{loc.id === 'light' ? 'L' : 'H'}}</label>
                    </span>
                </span>
            </span>
            <input class="armor" placeholder="0" type="number" name="arm">
            <span class="injury-layout">
                <span *ngFor="let injury of armsInjuries" class="injury-checkbox-layout">
                    <span class="flex-row">
                        <div
                            *ngFor="let box of injury.checkboxes" 
                            (click)="box.checked= !box.checked"
                            [ngClass]="{'filled': box.checked}"
                            class="black-square border-only">
                        </div>
                    </span>
                    <small class="injury-name"><strong>{{injury.id}}</strong></small>
                    <small class="injury-descrip">{{injury.descrip}}</small>
                </span>
            </span>
        </span>

        <span class="corpus-layout body">
            <span class="subtitle-section">
                <strong>BODY</strong>
                <span class="flex-row">
                    <span class="flex-row" *ngFor="let loc of body">
                        <div 
                            (click)="loc.checked = !loc.checked"
                            [ngClass]="{
                                'filled': loc.checked,
                                'heavy': loc.id === 'heavy'
                            }"
                            class="black-square border-only">
                        </div>
                        <label>{{loc.id === 'light' ? 'L' : 'H'}}</label>
                    </span>
                </span>
            </span>
            <input class="armor" placeholder="0" type="number" name="body">
            <span class="injury-layout">
                <span *ngFor="let injury of bodyInjuries" class="injury-checkbox-layout">
                    <span class="flex-row">
                        <div
                            *ngFor="let box of injury.checkboxes" 
                            (click)="box.checked= !box.checked"
                            [ngClass]="{'filled': box.checked}"
                            class="black-square border-only">
                        </div>
                    </span>
                    <small class="injury-name"><strong>{{injury.id}}</strong></small>
                    <small class="injury-descrip">{{injury.descrip}}</small>
                </span>
            </span>
        </span>

        <span class="corpus-layout waist">
            <span class="subtitle-section">
                <strong>WAIST</strong>
                <span class="flex-row">
                    <span class="flex-row" *ngFor="let loc of waist">
                        <div 
                            (click)="loc.checked = !loc.checked"
                            [ngClass]="{
                                'filled': loc.checked,
                                'heavy': loc.id === 'heavy'
                            }"
                            class="black-square border-only">
                        </div>
                        <label>{{loc.id === 'light' ? 'L' : 'H'}}</label>
                    </span>
                </span>
            </span>
            <input class="armor" placeholder="0" type="number" name="waist">
            <span class="injury-layout">
                <span *ngFor="let injury of waistInjuries" class="injury-checkbox-layout">
                    <span class="flex-row">
                        <div
                            *ngFor="let box of injury.checkboxes" 
                            (click)="box.checked= !box.checked"
                            [ngClass]="{'filled': box.checked}"
                            class="black-square border-only">
                        </div>
                    </span>
                    <small class="injury-name"><strong>{{injury.id}}</strong></small>
                    <small class="injury-descrip">{{injury.descrip}}</small>
                </span>
            </span>
        </span>

        <span class="corpus-layout leg">
            <span class="subtitle-section">
                <strong>LEGS</strong>
                <span class="flex-row">
                    <span class="flex-row" *ngFor="let loc of legs">
                        <div 
                            (click)="loc.checked = !loc.checked"
                            [ngClass]="{
                                'filled': loc.checked,
                                'heavy': loc.id === 'heavy'
                            }"
                            class="black-square border-only">
                        </div>
                        <label>{{loc.id === 'light' ? 'L' : 'H'}}</label>
                    </span>
                </span>
            </span>
            <input class="armor" placeholder="0" type="number" name="leg">
            <span class="injury-layout">
                <span *ngFor="let injury of legInjuries" class="injury-checkbox-layout">
                    <span class="flex-row">
                        <div
                            *ngFor="let box of injury.checkboxes" 
                            (click)="box.checked= !box.checked"
                            [ngClass]="{'filled': box.checked}"
                            class="black-square border-only">
                        </div>
                    </span>
                    <small class="injury-name"><strong>{{injury.id}}</strong></small>
                    <small class="injury-descrip">{{injury.descrip}}</small>
                </span>
            </span>
        </span>
    </span>
</div>
