<div class="pod-inner-section">
    <span class="survival-section">
      <span class="title-section">
        <strong (click)="toggleCollapse()">SURVIVAL</strong>
        <span>
          <div 
            (click)="noSpend = !noSpend"
            [ngClass]="{'filled': noSpend}"
            name="noSpend"
            class="black-square border-only"></div>
          <label for="noSpend"><small>CANNOT SPEND</small></label>
        </span>
        <span>
          <div
            (click)="noGain = !noGain"
            [ngClass]="{'filled': noGain}"
            name="noGain"
            class="black-square border-only"></div>
          <label for="noGain"><small>CANNOT GAIN</small></label>
        </span>
      </span>
      <span *ngIf="show" class="survival-layout">
        <input class="current-survival" type="number">
        <span class="max-gain-section">
          <span class="max-gain-subsection">
            <input placeholder="1" type="number" name="max">
            <label for="max"><small>MAX</small></label>
          </span>
          <span class="max-gain-subsection">
            <input placeholder="0" type="number" name="onDepart">
            <label for="onDepart"><small>GAIN ON DEPART</small></label>
          </span>
        </span>
        <span class="survival-actions-section flex-column">
          <span>
            <div
            (click)="dodge = !dodge"
            [ngClass]="{'filled': dodge}"
            name="dodge"
            class="black-square border-only"></div>
            <label for="dodge"><small>DODGE</small></label>
          </span>

          <span>
            <div
            (click)="encourage = !encourage"
            [ngClass]="{'filled': encourage}"
            name="encourage"
            class="black-square border-only"></div>
            <label for="encourage"><small>ENCOURAGE</small></label>
          </span>

          <span>
            <div
            (click)="surge = !surge"
            [ngClass]="{'filled': surge}"
            name="surge"
            class="black-square border-only"></div>
            <label for="surge"><small>SURGE</small></label>
          </span>

          <span>
            <div
            (click)="dash = !dash"
            [ngClass]="{'filled': dash}"
            name="dash"
            class="black-square border-only"></div>
            <label for="dash"><small>DASH</small></label>
          </span>

          <span>
            <div
            (click)="fist = !fist"
            [ngClass]="{'filled': fist}"
            name="fist"
            class="black-square border-only"></div>
            <label for="fist"><small>FIST PUMP</small></label>
          </span>
        </span>
      </span>
    </span>
  </div>