@import '../../assets/vars.scss';

.survival-section {
    .title-section {
        grid-template-columns: 1fr repeat(2, auto);
        grid-gap: $gap;
        >span {
            display: flex;
            align-items: center;
            gap: $smaller-gap;
        }
    }
    .survival-layout {
        display: grid;
        grid-template-columns: 10rem 25% 25%;
        grid-gap: $gap;
        input {
            text-align: center;
            border-radius: $input-radius;
        }
        .current-survival {
            font-size: 5rem;
        }
        .max-gain-section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            .max-gain-subsection {
                display: grid;
                grid-template-rows: 1fr auto;
                input {
                    width: 90%;
                }
                label {
                    place-self: start center;
                }
            }
        }
        .survival-actions-section {
            >span {
                display: flex;
                align-items: center;
                gap: $smaller-gap;
            }
        }
    }
}