<div class="pod-inner-section">
    <span class="name-section">
      <strong (click)="toggleCollapse()">NAME</strong>
      <input type="text">
      <span class="gender-section">
        <label for="genderChoiceMale"><strong>M</strong></label>
        <input type="radio" name="gender">

        <label for="genderChoiceFemale"><strong>F</strong></label>
        <input type="radio" name="gender">
      </span>
    </span>
    <ng-container *ngIf="show">
        <small>WHEN YOU ARE NAMED, GAIN +1 <strong>SURVIVAL</strong></small>
        <span class="xp-section bottom-border">
            <small><strong>HUNT XP</strong></small>
            <span class="checkbox-section">
                <input type="checkbox">
                <input class="heavy" type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input class="heavy" type="checkbox">
            </span>
        </span>
        
        <span class="weapon-section">
            <small><strong>WEAPON PROFICIENCY</strong></small>
            <span class="weapon-checkbox-layout">
                <span class="weapon-choice">
                    <small>TYPE: </small>
                    <select (change)="selectedWeapon()" [(ngModel)]="chosenWeapon">
                        <option *ngFor="let weapon of weapons">{{weapon}}</option>
                    </select>
                </span>
                <span class="checkbox-section">
                    <input
                        [(ngModel)]="boxes.checked"
                        (ngModelChange)="checkChanged()"
                        *ngFor="let boxes of checkBoxes; index as i"
                        [ngClass]="{
                            'heavy': (chosenWeapon && i=== 7) || (i === 1 || i === 3 || i === 5) && chosenWeapon === 'TWILIGHT SWORD' ||
                            chosenWeapon && chosenWeapon !== 'TWILIGHT SWORD' && i === 2
                        }" type="checkbox">
                </span>
            </span>
            <span *ngIf="weaponInfo" class="mastery-info flex-column">
                <ng-container *ngIf="weaponInfo.name === 'TWILIGHT SWORD'; else otherWeapons">
                    <small *ngIf="count >= 2"><strong>RANK 2:</strong> {{weaponInfo.rankInfo[2]}}</small>
                    <small *ngIf="count >= 4"><strong>RANK 4:</strong> {{weaponInfo.rankInfo[4]}}</small>
                    <small *ngIf="count >= 6"><strong>RANK 6:</strong> {{weaponInfo.rankInfo[6]}}</small>
                </ng-container>
                <ng-template #otherWeapons>
                    <small *ngIf="count >= 3"><strong>SPECIALIZATION:</strong> {{weaponInfo.rankInfo[1]}}</small>
                    <small *ngIf="count === 8"><strong>MASTERY:</strong> {{weaponInfo.rankInfo[2]}}</small>
                </ng-template>
            </span>
        </span>
    </ng-container>
  </div>