<div class="pod-inner-section">
    <span class="name-section">
      <strong (click)="toggleCollapse()">NAME</strong>
      <input type="text">
      <span class="gender-section">
        <label for="genderChoiceMale"><strong>M</strong></label>
        <input type="radio" name="gender">

        <label for="genderChoiceFemale"><strong>F</strong></label>
        <input type="radio" name="gender">
      </span>
    </span>
    <span class="nickname-section">
        <input placeholder="arc survivor" class="nickname" type="text">
    </span>
    <ng-container *ngIf="show">
        <small style="margin-bottom: 0.5rem;">WHEN YOU ARE NAMED, GAIN +1 <strong>SURVIVAL</strong></small>
        <span class="xp-section bottom-border">
            <small class="xp-title">
                <strong>HUNT XP: </strong>
            </small>
            <span class="curr-xp">{{currentXP}}</span>
            <button (click)="currentXP = currentXP === 16 ? currentXP = 16 : currentXP + 1" class="square-button add"><strong>+</strong></button>
            <button (click)="currentXP = currentXP === 0 ? currentXP = 0 : currentXP - 1" class="square-button minus"><strong>-</strong></button>
            <span class="checkbox-section-layout">
                <div
                    class="black-square border-only"
                    *ngFor="let box of xpCheckboxes; index as i"
                    [ngClass]="{
                        'heavy': i === 1 || i === 15,
                        'filled': i+1 <= currentXP
                    }"
                >
                </div>
            </span>
            <span class="xp-info">
                <span>
                    <div class="black-square filled"></div>
                    <small>ADOPT A PHILOSOPHY</small>
                </span>
                <span>
                    <div class="black-square filled"></div>
                    <div class="black-square filled"></div>
                    <small>RANK +</small>
                </span>
                <span>
                    <div class="black-square filled"></div>
                    <div class="black-square filled"></div>
                    <div class="black-square filled"></div>
                    <small>RANK +</small>
                </span>
                <span class="long-rank">
                    <div class="black-square filled"></div>
                    <div class="black-square filled"></div>
                    <div class="black-square filled"></div>
                    <div class="black-square filled"></div>
                    <small>RANK +</small>
                </span>
                <span>
                    <div class="black-square border-only heavy"></div>
                    <small>RETIRED</small>
                </span>
            </span>
        </span>
        <span class="weapon-section">
            <span class="weapon-title">
                <small><strong>WEAPON PROFICIENCY:</strong></small>
                <span class="curr-weap">{{currentWeaponProf}}</span>
            </span>
            <span class="weapon-checkbox-layout">
                <button (click)="currentWeaponProf = currentWeaponProf === 8 ? currentWeaponProf = 8 : currentWeaponProf + 1" class="square-button add"><strong>+</strong></button>
                <button (click)="currentWeaponProf = currentWeaponProf === 0 ? currentWeaponProf = 0 : currentWeaponProf - 1" class="square-button minus"><strong>-</strong></button>
                <span class="weapon-choice">
                    <small class="bigger">TYPE: </small>
                    <select (change)="selectedWeapon()" [(ngModel)]="chosenWeapon">
                        <option *ngFor="let weapon of weapons">{{weapon}}</option>
                    </select>
                </span>
                <span class="checkbox-section">
                    <div
                        class="black-square border-only"
                        *ngFor="let box of checkBoxes; index as i"
                        [ngClass]="{
                            'heavy': (chosenWeapon && i=== 7) || (i === 1 || i === 3 || i === 5) && chosenWeapon === 'TWILIGHT SWORD' ||
                            chosenWeapon && chosenWeapon !== 'TWILIGHT SWORD' && i === 2,
                            'filled': i+1 <= currentWeaponProf
                        }"
                    >
                    </div>
                </span>
            </span>
            <span *ngIf="weaponInfo" class="mastery-info flex-column">
                <ng-container *ngIf="weaponInfo.name === 'TWILIGHT SWORD'; else otherWeapons">
                    <small class="bigger" *ngIf="currentWeaponProf >= 2"><strong>RANK 2:</strong> {{weaponInfo.rankInfo[2]}}</small>
                    <small class="bigger" *ngIf="currentWeaponProf >= 4"><strong>RANK 4:</strong> {{weaponInfo.rankInfo[4]}}</small>
                    <small class="bigger" *ngIf="currentWeaponProf >= 6"><strong>RANK 6:</strong> {{weaponInfo.rankInfo[6]}}</small>
                </ng-container>
                <ng-template #otherWeapons>
                    <small class="bigger" *ngIf="currentWeaponProf >= 3"><strong>SPECIALIZATION:</strong> {{weaponInfo.rankInfo[1]}}</small>
                    <small class="bigger" *ngIf="currentWeaponProf === 8"><strong>MASTERY:</strong> {{weaponInfo.rankInfo[2]}}</small>
                </ng-template>
            </span>
        </span>
    </ng-container>
  </div>