<span class="pod-layout">
  <span class="pod-title">
    <h1>PHILOSOPHY OF DEATH</h1>
    <small>a digital character sheet for <strong>KINGDOM DEATH: MONSTER</strong></small>
  </span>
  <div class="pod-sheet-layout">
    <div class="pod-inner-section">
      <span class="name-section">
        <strong>NAME</strong>
        <input type="text">
        <span class="gender-section">
          <label for="genderChoiceMale"><strong>M</strong></label>
          <input type="radio" name="gender">

          <label for="genderChoiceFemale"><strong>F</strong></label>
          <input type="radio" name="gender">
        </span>
      </span>
      <small>WHEN YOU ARE NAMED, GAIN +1 <strong>SURVIVAL</strong></small>
    </div>
    <div class="pod-inner-section">
      <span class="survival-section">
        <span class="title-section">
          <strong>SURVIVAL</strong>
          <span>
            <input type="checkbox" name="noSpend">
            <label for="noSpend"><small>CANNOT SPEND SURVIVAL</small></label>
          </span>
          <span>
            <input type="checkbox" name="noGain">
            <label for="noGain"><small>CANNOT GAIN SURVIVAL</small></label>
          </span>
        </span>
        <span class="survival-layout">
          <input class="current-survival" type="number">
          <span class="max-gain-section">
            <span class="max-gain-subsection">
              <input placeholder="1" type="number" name="max">
              <label for="max"><small>MAX</small></label>
            </span>
            <span class="max-gain-subsection">
              <input placeholder="0" type="number" name="onDepart">
              <label for="onDepart"><small>GAIN ON DEPART</small></label>
            </span>
          </span>
          <span class="survival-actions-section flex-column">
            <span>
              <input type="checkbox" id="dodge" name="dodge"/>
              <label for="dodge"><small>DODGE</small></label>
            </span>

            <span>
              <input type="checkbox" id="encourage" name="encourage"/>
              <label for="encourage"><small>ENCOURAGE</small></label>
            </span>

            <span>
              <input type="checkbox" id="surge" name="surge"/>
              <label for="surge"><small>SURGE</small></label>
            </span>

            <span>
              <input type="checkbox" id="dash" name="dash"/>
              <label for="dash"><small>DASH</small></label>
            </span>

            <span>
              <input type="checkbox" id="fist" name="fist"/>
              <label for="fist"><small>FIST PUMP</small></label>
            </span>
          </span>
        </span>
      </span>
    </div>
    <div class="pod-inner-section">
      <span class="stats-section">
        <span class="title-section">
          <strong>STATS</strong>
          <span>
            <label for="lum"><small><strong>LUMI</strong></small></label>
            <input placeholder="0" type="number" name="lum">
          </span>
        </span>
        <span class="stat">
          <input placeholder="5" type="number" name="move">
          <label for="move"><small>MOVEMENT</small></label>
        </span>
        <span class="stat">
          <input placeholder="0" type="number" name="acc">
          <label for="acc"><small>ACCURACY</small></label>
        </span>
        <span class="stat">
          <input placeholder="0" type="number" name="str">
          <label for="str"><small>STRENGTH</small></label>
        </span>
        <span class="stat">
          <input placeholder="0" type="number" name="eva">
          <label for="eva"><small>EVASION</small></label>
        </span>
        <span class="stat">
          <input placeholder="0" type="number" name="luc">
          <label for="luc"><small>LUCK</small></label>
        </span>
        <span class="stat">
          <input placeholder="0" type="number" name="spd">
          <label for="spd"><small>SPEED</small></label>
        </span>
      </span>
    </div>
    <app-armor></app-armor>
  </div>
</span>