<span class="pod-layout">
  <span class="pod-title">
    <h1><span class="larger">P</span> H I L O S O P H Y  <span class="larger">O</span> F  <span class="larger">D</span> E A T H</h1>
    <small>a digital character sheet for <strong>KINGDOM DEATH: MONSTER</strong></small>
  </span>
  <div class="pod-sheet-layout">
    <app-name-xp></app-name-xp>
    <app-survival></app-survival>
    <app-courage></app-courage>
    <app-understanding></app-understanding>
    <app-stats></app-stats>
    <app-armor></app-armor>
    <app-fighting-arts></app-fighting-arts>
    <app-disorders></app-disorders>
  </div>
</span>