@import '../assets/vars.scss';

.pod-layout {
    width: 100%;
    display: grid;
    .pod-title {
        text-align: center;
        margin-bottom: $gap;
        h1 {
            margin-bottom: 0;
        }
    }
    .pod-sheet-layout {
        background-color: rgb(36, 36, 36);
        color: whitesmoke;
        padding: 1rem;
        border-radius: $outer-radius;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: $gap;
        .pod-inner-section {
            .name-section {
                display: grid;
                grid-template-columns: auto 1fr auto;
                grid-gap: $gap;
                border-bottom: 1px solid black;
                input {
                    border: none;
                    background-color: whitesmoke;
                }
            }
        }
    }
}