@font-face {
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), url(./assets/fonts/RobotoMono.ttf) format('opentype');
    font-weight: 100 1000;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: "Roboto Mono", sans-serif;
    input {
        font-family: "Roboto Mono", sans-serif;
    }
    
    small {
        font-size: .5em;
        vertical-align: middle;
    }
}