@import 'assets/vars.scss';

@font-face {
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), url(./assets/fonts/RobotoMono.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "CATS Goth";
    src: local("CATSchmalfetteThannhaeuser"), url(./assets/fonts/CATSchmalfetteThannhaeuser.ttf) format('opentype');
    font-weight: 100 1000;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: "Roboto Mono", sans-serif;
    input {
        font-family: "Roboto Mono", sans-serif;
    }
    input[type="number"] {
        font-family: "CATS Goth", sans-serif;
    }
    
    small {
        font-size: .5em;
        vertical-align: middle;
        &.bigger {
            font-size: .8rem;
        }
    }

    .pod-inner-section {
        background-color: whitesmoke;
        color: black;
        padding: 1rem;
        border-radius: $inner-radius;
        .title-section {
            display: grid;
            margin-bottom: $gap;
            border-bottom: 1px solid black;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    gap: $smaller-gap;
    align-items: center;
}

.two-column-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $gap;
}

.three-column-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $gap;
}

.center-text {
    text-align: center;
}

.heavy {
    width: 13.4px;
    height: 13.4px;
    background-color: white;
    vertical-align: sub;
    border: 3px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    &:checked {
        background-color: black;
    }
}

.black-square {
    user-select: none;
    width: 13.4px;
    height: 13.4px;
    &.border-only {
        background-color: white;
        width: 12.4px;
        height: 12.4px;
        border: 1px solid black;
        &.heavy {
            width: 9.4px;
            height: 9.4px;
            border: 3px solid black;
        }
    }
    &.filled {
        background-color: black;
    }
}

select {
    border: none;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    font-family: "Roboto Mono", sans-serif;
    font-size: .7em;
    font-weight: bold;
    text-align: center;
}

.bottom-border {
    border-bottom: 1px solid black;
    margin-bottom: $gap;
    padding-bottom: $gap;
}

.big-small {
    font-size: 1.5em;
}

.square-button {
    height: 42px;
    width: 42px;
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: 'CATS Goth';
    border: none;
    display: grid;
    place-items: center;
    border-radius: $input-radius;
}

input[type='text'].filter {
    border: none;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}

.black-section {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: $inner-radius;
    .black-header-layout {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: $gap;
        .black-chosen-layout {
            display: flex;
            flex-direction: column;
            .black-chosen {
                border-bottom: 1px solid white;
                display: grid;
                grid-template-columns: 1fr auto;
            }
            .black-descrip {
                font-size: 0.8rem;
            }
        }
    }
    .black-content {
        display: flex;
        flex-direction: column;
        gap: $gap;
        .black-content-item {
            padding: $gap;
            border-radius: $inner-radius;
            background-color: white;
            color: black;
            display: grid;
            grid-template-columns: 1fr auto;
            place-items: center start;
            &.chosen {
                background-color: goldenrod;
            }
        }
    }
}