@import 'assets/vars.scss';

@font-face {
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), url(./assets/fonts/RobotoMono.ttf) format('opentype');
    font-weight: 100 1000;
}

// @font-face {
//     font-family: "CATS Goth";
//     src: local("CATSchmalfetteThannhaeuser"), url(./assets/fonts/CATSchmalfetteThannhaeuser.ttf) format('opentype');
//     font-weight: 100 1000;
// }

body {
    background-color: black;
    color: whitesmoke;
    font-family: "Roboto Mono", sans-serif;
    input {
        font-family: "Roboto Mono", sans-serif;
    }
    
    small {
        font-size: .5em;
        vertical-align: middle;
    }

    .pod-inner-section {
        background-color: whitesmoke;
        color: black;
        padding: 1rem;
        border-radius: $inner-radius;
        .title-section {
            display: grid;
            margin-bottom: $gap;
            border-bottom: 1px solid black;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.two-column-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $gap;
}

.heavy {
    width: 13.4px;
    height: 13.4px;
    background-color: white;
    vertical-align: sub;
    border: 3px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    &:checked {
        background-color: black;
    }
}

select {
    border: none;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    font-family: "Roboto Mono", sans-serif;
    font-size: .7em;
    font-weight: bold;
    text-align: center;
}

.bottom-border {
    border-bottom: 1px solid black;
    margin-bottom: $gap;
    padding-bottom: $gap;
}